.category-title {
    margin-top: 40px;
    font-size: 26px;
}

.menu-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin: 15px;
    display: inline-block;
    width: 220px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

.menu-card:hover {
    transform: scale(1.05);
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.modal-content button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    background: #e23744;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
